<nav>
    <ul>
        <li class="active">
            <a href="/app_dev.php/admin/dashboard/">
                <i class="fa fa-dashboard fa-fw"></i>
                <span classs="menu-item-parent">Tableau de bord</span>
            </a>
        </li>

        {% set package_group_title = "" %}
        {% for part_package in part_package_list %}

            {% if package_group_title != part_package.package_group_title and loop.index > 1 %}
                </ul>
            </li>
            {% endif %}
            
            {% if package_group_title != part_package.package_group_title %}
            <li>
                <a href="#"><i class="fa {{ part_package.package_group_icon }} fa-fw"></i>
                    <span class="menu-item-parent">{{ part_package.package_group_title }}</span>
                </a>
                <ul>

            {% endif %}
                    {% if part_package_slug == part_package.slug %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}

                        {% if part_package.package_link is not empty %}
                            {% if part_package.package_has_unique_part_package == true %}
                                <a href="{{ app.request.getBaseURL() }}{{ part_package.package_link }}">{{ part_package.title }}</a>
                            {% else %}
                                <a href="{{ app.request.getBaseURL() }}{{ part_package.package_link }}/{{ part_package.slug }}/list">{{ part_package.title }}</a>
                            {% endif %}
                        {% else %}
                            <a href="#">{{ part_package.title }}</a>
                        {% endif %}
                    </li>

            {% set package_group_title = part_package.package_group_title %}
        {% endfor %}

            </ul>
        </li>
    </ul>
</nav>