<li class="active">
    <a href="{{ path('admin_dashboard') }}">
        <i class="menu-icon fa fa-dashboard fa-fw"></i>
        <span classs="menu-text">Tableau de bord</span>
    </a>
</li>

{% set package_group_title = "" %}
{% for part_package in part_package_list %}

    {% if package_group_title != part_package.package_group_title and loop.index > 1 %}
        </ul>
    </li>
    {% endif %}
    
    {% if package_group_title != part_package.package_group_title %}
    <li>
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa {{ part_package.package_group_icon }} fa-fw"></i>
            <span class="menu-text">{{ part_package.package_group_title }}</span>
            <b class="arrow fa fa-angle-down"></b>
        </a>

        <ul class="submenu">

    {% endif %}
    
        {% if current_part_package_slug == part_package.slug %}
            <li class="active">
        {% else %}
            <li>
        {% endif %}

        <a href="{{ path('admin', { entity: part_package.package_entity_name, part_package_slug: part_package.slug, action: 'list', view: 'list' }) }}">{{ part_package.title|trans }}</a>
    </li>

    {% set package_group_title = part_package.package_group_title %}
{% endfor %}

{#}
{% for part_package in part_package_list %}
    <li class="{{ part_package.slug == current_part_package_slug ? 'active' : part_package.slug }}">
        <a href="{{ path('admin', { entity: part_package.package_entity_name, part_package_slug: part_package.slug, action: 'list', view: 'list' }) }}">
            {{- part_package.title|trans -}}
        </a>
    </li>
{% endfor %}

{% for item in easyadmin_config('entities') %}
    <li class="{{ item.name|lower == app.request.get('entity')|lower ? 'active' : '' }}">
        <a href="{{ path('admin', { entity: item.name, action: 'list', view: 'list' }) }}">
            {{- item.label|trans -}}
        </a>
    </li>
{% endfor %}
{#}