{% extends '@EasyAdmin/default/list.html.twig' %}

{% block search_action %}
  {% set _action = easyadmin_get_action_for_list_view('search', _entity_config.name) %}
  <form id="content-search" class="col-xs-6 col-sm-8 {{ _action.css_class|default('') }}" method="get" action="{{ path('admin') }}">
      <input type="hidden" name="view" value="list">
      <input type="hidden" name="action" value="search">
      <input type="hidden" name="entity" value="{{ _request_parameters.entity }}">
      <input type="hidden" name="sortField" value="{{ _request_parameters.sortField }}">
      <input type="hidden" name="sortDirection" value="{{ _request_parameters.sortDirection }}">
      <div class="input-group">
          <input class="form-control" id="content-search-query" type="search" name="query" placeholder="{{ _action.label|default('action.search')|trans(_trans_parameters) }}" value="{{ app.request.get('query')|default('') }}">
      </div>
  </form>
{% endblock search_action %}